# Neural Collaborative Filter
In this notebook, we will develop a neural collaborative folder that aims to recommend a movie to a user based on their previous watching patterns. We will use two architectures, one an item-based recommender and the other a user-based recommender. An item-based recommender will take the genres of movies and find similar movies based on the user's preferences. A user-based recommender will find other similar users based on this like their age, occupation and gender and then recommend movies that other similar people have enjoyed.

In [125]:
pip install keras-tuner

Requirement already satisfied: keras-tuner in c:\users\kwhit\anaconda3\lib\site-packages (1.4.7)
Requirement already satisfied: requests in c:\users\kwhit\anaconda3\lib\site-packages (from keras-tuner) (2.28.1)
Requirement already satisfied: kt-legacy in c:\users\kwhit\anaconda3\lib\site-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: packaging in c:\users\kwhit\anaconda3\lib\site-packages (from keras-tuner) (21.3)
Requirement already satisfied: keras in c:\users\kwhit\anaconda3\lib\site-packages (from keras-tuner) (2.10.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\kwhit\anaconda3\lib\site-packages (from packaging->keras-tuner) (3.0.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kwhit\anaconda3\lib\site-packages (from requests->keras-tuner) (2024.8.30)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\kwhit\anaconda3\lib\site-packages (from requests->keras-tuner) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kwhit\anaconda3\lib\site-packages (from requests->keras-tuner) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kwhit\anaconda3\lib\site-packages (from requests->keras-tuner) (3.3)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\kwhit\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\kwhit\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\kwhit\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\kwhit\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\kwhit\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\kwhit\anaconda3\lib\site-packages)

In [126]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Input, Embedding, Flatten, Concatenate, Dense, Dropout
from tensorflow.keras.models import Model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

import keras_tuner as kt
import tensorflow as tf
from tensorflow.keras.layers import Input, Embedding, Flatten, Concatenate, Dense, Dropout
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam
from sklearn.model_selection import train_test_split

from tensorflow.keras.models import load_model

import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Input, Embedding, Flatten, Concatenate, Dense, Dropout
from tensorflow.keras.models import Model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

We will now import our test and train data sets. The test data set takes the latest 20% of ratings from each user. So this data is not random, but aims to simulate what would happen in real life. There is another train/test split available which just has the test data as the latest 20% of ratings. We will compare the difference in performance of the models for using each data split later in the project. However, for now we will only use the split that takes the last 20% of raing from each individual user.

In [127]:
train_df = pd.read_csv('user_train_df.csv')
test_df = pd.read_csv('user_test_df.csv')

we now prepare the input data for the first model

In [128]:
train_df.index = range(1, len(train_df) + 1)
test_df.index = range(1, len(test_df) + 1)

In [129]:
num_users = 943
num_items = 1682
num_genres = 19

In [130]:
# Convert all specified columns to numeric, setting errors='coerce' to convert non-numeric values to NaN
genre_columns = ['Fantasy', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western','Film-Noir','Unknown','Action','Adeventure','Animation','Childrens','Comedy','Crime','Documentary','Drama']

train_df[genre_columns] = train_df[genre_columns].apply(pd.to_numeric, errors='coerce')

# Drop rows where any of the specified columns contain NaN values
train_df = train_df.dropna(subset=genre_columns)


test_df[genre_columns] = test_df[genre_columns].apply(pd.to_numeric, errors='coerce')
test_df = test_df.dropna(subset=genre_columns)

In [131]:
# Prepare Input Features
genre_features = genre_columns
train_genre_input = train_df[genre_features].values
test_genre_input = test_df[genre_features].values

Now to build the model

In [132]:
# Model Architecture
# Inputs
user_input = Input(shape=(1,), name='User_Input')
item_input = Input(shape=(1,), name='Item_Input')

genre_input = Input(shape=(num_genres,), name='Genre_Input')

In [133]:
# Embedding layers for user and item
user_embedding = Embedding(num_users+1, 50, name='User_Embedding')(user_input)
item_embedding = Embedding(num_items+1, 50, name='Item_Embedding')(item_input)

In [134]:
# Flatten embeddings
user_vec = Flatten()(user_embedding)
item_vec = Flatten()(item_embedding)

In [135]:
# Concatenate embeddings and genre input
concat = Concatenate()([user_vec, item_vec, genre_input])

In [136]:
# Dense layers
dense1 = Dense(128, activation='relu')(concat)
dropout1 = Dropout(0.3)(dense1)
dense2 = Dense(64, activation='relu')(dropout1)

output = Dense(1, activation='sigmoid')(dense2)

In [137]:
# Model definition
model = Model(inputs=[user_input, item_input, genre_input], outputs=output)
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

Prepare the training data. If the rating is above 3, we claim that the user enjoyed the film. We treat this as a binary variable, (1 if the user enjoyed the film and 0 otherwise)

In [138]:
# Preparing training data
train_user_input = train_df['User ID'].values
train_item_input = train_df['Item ID'].values
train_ratings = (train_df['Rating'] > 3).astype(int).values  # Binary rating: 1 if >3, else 0



test_user_input = test_df['User ID'].values
test_item_input = test_df['Item ID'].values
test_ratings = (test_df['Rating'] > 3).astype(int).values

In [139]:
model.summary()

Model: "model_5"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 User_Input (InputLayer)        [(None, 1)]          0           []

 Item_Input (InputLayer)        [(None, 1)]          0           []

 User_Embedding (Embedding)     (None, 1, 50)        47200       ['User_Input[0][0]']

 Item_Embedding (Embedding)     (None, 1, 50)        84150       ['Item_Input[0][0]']

 flatten_10 (Flatten)           (None, 50)           0           ['User_Embedding[0][0]']

 flatten_11 (Flatten)           (None, 50)           0           ['Item_Embedding[0][0]']

 Genre_Input (InputLayer)       [(None, 19)]         0           []

 concatenate_5 (Concatenate)    (None, 119)          0           ['flatten_10[0][0]',
                                                                  'flatten_11[0][0]',
                                                                  'Genre_Input[0][0]']

 dense_16 (Dense)               (None, 128)          15360       ['concatenate_5[0][0]']

 dropout_5 (Dropout)            (None, 128)          0           ['dense_16[0][0]']

 dense_17 (Dense)               (None, 64)           8256        ['dropout_5[0][0]']

 dense_18 (Dense)               (None, 1)            65          ['dense_17[0][0]']

==================================================================================================
Total params: 155,031
Trainable params: 155,031
Non-trainable params: 0
__________________________________________________________________________________________________

Now to train the model

In [140]:
# Training the model
history = model.fit(
    [train_user_input, train_item_input, train_genre_input],
    train_ratings,
    validation_data=([test_user_input, test_item_input, test_genre_input], test_ratings),
    epochs=10,
    batch_size=64
)

Epoch 1/10
499/499 [==============================] - 3s 5ms/step - loss: 0.6045 - accuracy: 0.6728 - val_loss: 0.5222 - val_accuracy: 0.7507
Epoch 2/10
499/499 [==============================] - 2s 4ms/step - loss: 0.5503 - accuracy: 0.7223 - val_loss: 0.4912 - val_accuracy: 0.7654
Epoch 3/10
499/499 [==============================] - 2s 5ms/step - loss: 0.5299 - accuracy: 0.7355 - val_loss: 0.4700 - val_accuracy: 0.7748
Epoch 4/10
499/499 [==============================] - 2s 4ms/step - loss: 0.5117 - accuracy: 0.7470 - val_loss: 0.4437 - val_accuracy: 0.7968
Epoch 5/10
499/499 [==============================] - 2s 4ms/step - loss: 0.4919 - accuracy: 0.7610 - val_loss: 0.4220 - val_accuracy: 0.8085
Epoch 6/10
499/499 [==============================] - 2s 4ms/step - loss: 0.4709 - accuracy: 0.7738 - val_loss: 0.3972 - val_accuracy: 0.8256
Epoch 7/10
499/499 [==============================] - 2s 4ms/step - loss: 0.4545 - accuracy: 0.7847 - val_loss: 0.3765 - val_accuracy: 0.8348
Epoch 8/10
499/499 [==============================] - 2s 4ms/step - loss: 0.4347 - accuracy: 0.7971 - val_loss: 0.3481 - val_accuracy: 0.8511
Epoch 9/10
499/499 [==============================] - 2s 4ms/step - loss: 0.4181 - accuracy: 0.8077 - val_loss: 0.3334 - val_accuracy: 0.8618
Epoch 10/10
499/499 [==============================] - 2s 4ms/step - loss: 0.3978 - accuracy: 0.8152 - val_loss: 0.3098 - val_accuracy: 0.8724

The model has now been built and trained. Now to test it out. We take a random user, user_id, to see how the model behaves

In [141]:
# Predicting Recommendations for a User
user_id = 212  # Example: User ID for which to recommend
user_movies = np.array(range(num_items))  # All movies

In [142]:
# Predicting Recommendations for a User
user_id = 212  # Example: User ID for which to recommend
user_movies = np.array(range(num_items))  # All movies

In [143]:
# Combine the DataFrames vertically (stacking them on top of each other)
combined_df = pd.concat([train_df, test_df], ignore_index=True)

genre_df = combined_df.copy()

genre_df.drop(columns=['timestamp','Age','Gender','Occupation','zip code','Release Date','URL','Movie Title','User ID','Item ID','Rating'],inplace=True)

# Genres for all movies
movie_genres_input = genre_df[:user_movies.shape[0]]

In [144]:
# Ensure all inputs are properly shaped and converted to the correct dtype
user_input_predict = np.full((user_movies.shape[0], 1), user_id, dtype=np.int32)  # Shape: (num_items, 1)
item_input_predict = user_movies.reshape(-1, 1).astype(np.int32)  # Shape: (num_items, 1)
movie_genres_input = movie_genres_input.astype(np.float32)  # Ensure genre input is float32

In [145]:
# Predict scores
predicted_scores = model.predict([np.full(user_movies.shape, user_id), user_movies, movie_genres_input])

53/53 [==============================] - 0s 1ms/step

In [146]:
# Recommend Top-5 Movies
recommended_movies = np.argsort(-predicted_scores.flatten())[:10]
print("Top 10 recommended movies for User ID", user_id, ":", recommended_movies)

Top 10 recommended movies for User ID 212 : [1467  199  174 1449 1396 1625 1466 1616 1639  166]

Now we print the details of the recommended movies:

In [147]:
filtered_df = train_df[train_df['Item ID'].isin(recommended_movies)]

filtered_df.drop_duplicates(subset='Item ID', inplace=True)

filtered_df.drop(columns=['User ID','Rating','timestamp','Age','Gender','Occupation','zip code'],inplace=True)
filtered_df

C:\Users\kwhit\AppData\Local\Temp\ipykernel_39912\992600379.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop_duplicates(subset='Item ID', inplace=True)
C:\Users\kwhit\AppData\Local\Temp\ipykernel_39912\992600379.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop(columns=['User ID','Rating','timestamp','Age','Gender','Occupation','zip code'],inplace=True)

,Item ID,Movie Title,Release Date,URL,Unknown,Action,Adeventure,Animation,Childrens,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
5,166,Manon of the Spring (Manon des sources) (1986),01-Jan-1986,http://us.imdb.com/M/title-exact?Manon%20des%2...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30,199,"Bridge on the River Kwai, The (1957)",01-Jan-1957,http://us.imdb.com/M/title-exact?Bridge%20on%2...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
53,174,Raiders of the Lost Ark (1981),01-Jan-1981,http://us.imdb.com/M/title-exact?Raiders%20of%...,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5725,1396,Stonewall (1995),26-Jul-1996,http://us.imdb.com/M/title-exact?Stonewall%20(...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7400,1449,Pather Panchali (1955),22-Mar-1996,http://us.imdb.com/M/title-exact?Pather%20Panc...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7652,1466,Margarets Museum (1995)|01-Jan-1995||http://us...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7706,1467,"Saint of Fort Washington, The (1993)",01-Jan-1993,http://us.imdb.com/M/title-exact?Saint%20of%20...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18380,1616,Desert Winds (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Desert%20Wind...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21110,1625,Nightwatch (1997),22-Apr-1997,http://us.imdb.com/M/title-exact?Nightwatch%20...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
23477,1639,Bitter Sugar (Azucar Amargo) (1996),22-Nov-1996,http://us.imdb.com/M/title-exact?Bitter%20Suga...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Now we look at the genres for each of these movies:

In [148]:
# Function to get column names with positive entries for each row
def get_positive_columns(row):
    return [col for col in row.index if row[col] == 1]

# Apply the function to each row
positive_columns_per_row = filtered_df.apply(get_positive_columns, axis=1)

# Show the result
for idx, positive_cols in enumerate(positive_columns_per_row):
    print(f"Row {idx} has positive values in columns: {positive_cols}")

Row 0 has positive values in columns: ['Drama']
Row 1 has positive values in columns: ['Drama', 'War']
Row 2 has positive values in columns: ['Action', 'Adeventure']
Row 3 has positive values in columns: ['Drama']
Row 4 has positive values in columns: ['Drama']
Row 5 has positive values in columns: ['Comedy']
Row 6 has positive values in columns: ['Drama']
Row 7 has positive values in columns: ['Drama']
Row 8 has positive values in columns: ['Horror', 'Thriller']
Row 9 has positive values in columns: ['Drama']

Compare the genres to see if they are similar to the movies in the test data that the user has watched and liked.

In [149]:
true_ratings = test_df.loc[test_df['User ID'] == user_id].sort_values(by=['Rating'], ascending=False).head(5)

true_ratings.drop(columns=['User ID','URL','Rating','timestamp','Age','Gender','Occupation','zip code','Release Date'], inplace = True)

true_ratings

,Item ID,Movie Title,Unknown,Action,Adeventure,Animation,Childrens,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
1267,423,E.T. the Extra-Terrestrial (1982),0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1266,179,"Clockwork Orange, A (1971)",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [150]:
# Apply the function to each row
positive_columns_per_row = true_ratings.apply(get_positive_columns, axis=1)

# Show the result
for idx, positive_cols in enumerate(positive_columns_per_row):
    print(f"Row {idx} has positive values in columns: {positive_cols}")

Row 0 has positive values in columns: ['Childrens', 'Drama', 'Fantasy', 'Sci-Fi']
Row 1 has positive values in columns: ['Sci-Fi']

## Look at tuning hyper-paramaters
We now look to optimise our model.

In [151]:
# Assuming df has been prepared with 'UserID', 'ItemID', 'Rating', and genre columns

# HyperModel for the neural network
class CollaborativeFilterHyperModel(kt.HyperModel):
    def build(self, hp):
        # Input dimensions
        num_users = 943
        num_items = 1682
        num_genres = 19
        # Model inputs
        user_input = Input(shape=(1,), name='User_Input')
        item_input = Input(shape=(1,), name='Item_Input')
        genre_input = Input(shape=(num_genres,), name='Genre_Input')

        # Hyperparameters for embeddings and dense layers
        user_embedding_dim = hp.Int('user_embedding_dim', min_value=32, max_value=128, step=32)
        item_embedding_dim = hp.Int('item_embedding_dim', min_value=32, max_value=128, step=32)

        
        # Embedding layers for user and item
        user_embedding = Embedding(num_users+1, user_embedding_dim, name='User_Embedding')(user_input)
        item_embedding = Embedding(num_items+1, item_embedding_dim, name='Item_Embedding')(item_input)

        
        # Flatten the embeddings
        user_vec = Flatten()(user_embedding)
        item_vec = Flatten()(item_embedding)

        # Concatenate embeddings with genre input
        concat = Concatenate()([user_vec, item_vec, genre_input])

        # Dense layers with hyperparameter search
        dense1_units = hp.Int('dense1_units', min_value=64, max_value=512, step=64)
        dense2_units = hp.Int('dense2_units', min_value=32, max_value=256, step=32)

        dense1 = Dense(dense1_units, activation='relu')(concat)
        dropout1 = Dropout(hp.Float('dropout1', min_value=0.2, max_value=0.5, step=0.1))(dense1)
        dense2 = Dense(dense2_units, activation='relu')(dropout1)
        
        # Output layer
        output = Dense(1, activation='linear')(dense2)  # Rating is continuous, use linear activation

        # Model definition
        model = Model(inputs=[user_input, item_input, genre_input], outputs=output)

        # Compile the model with an optimizer and loss function
        model.compile(optimizer=Adam(), loss='mse', metrics=['mae'])

        return model

# Preparing the training and testing data (just like before)


train_user_input = train_df['User ID'].values
train_item_input = train_df['Item ID'].values
train_genre_input = train_df[genre_columns].values
train_ratings = train_df['Rating'].values

test_user_input = test_df['User ID'].values
test_item_input = test_df['Item ID'].values
test_genre_input = test_df[genre_columns].values
test_ratings = test_df['Rating'].values

# Instantiate the tuner
tuner = kt.RandomSearch(
    CollaborativeFilterHyperModel(),
    objective='val_mae',  # We are optimizing for Mean Absolute Error
    max_trials=5,  # Number of different hyperparameter combinations to try
    executions_per_trial=3,  # Number of executions for each trial
    #directory='"C:/Users/kwhit/OneDrive/Documents/Maths 4th year/Data Science Toolbox 2024/Group-Assignment-2/Katherine W"',  # Directory to save tuning results
    project_name='collab_filter_search'  # Project name for Keras Tuner
)

# Search for the best hyperparameters
tuner.search(
    [train_user_input, train_item_input, train_genre_input],
    train_ratings,
    validation_data=([test_user_input, test_item_input, test_genre_input], test_ratings),
    epochs=10,
    batch_size=64
)

# Retrieve the best hyperparameters
best_hp = tuner.get_best_hyperparameters()[0]
print("Best hyperparameters:", best_hp.values)

# Build the model with the best hyperparameters
best_model = tuner.hypermodel.build(best_hp)

# Train the model using the best hyperparameters
history = best_model.fit(
    [train_user_input, train_item_input, train_genre_input],
    train_ratings,
    validation_data=([test_user_input, test_item_input, test_genre_input], test_ratings),
    epochs=10,
    batch_size=64
)

# Evaluate the best model
test_loss, test_mae = best_model.evaluate([test_user_input, test_item_input, test_genre_input], test_ratings)
print(f"Test MAE: {test_mae}")

Reloading Tuner from .\collab_filter_search\tuner0.json
Best hyperparameters: {'user_embedding_dim': 128, 'item_embedding_dim': 96, 'dense1_units': 192, 'dense2_units': 256, 'dropout1': 0.2}
Epoch 1/10
499/499 [==============================] - 4s 6ms/step - loss: 1.3124 - mae: 0.8769 - val_loss: 0.8341 - val_mae: 0.7232
Epoch 2/10
499/499 [==============================] - 3s 6ms/step - loss: 0.8818 - mae: 0.7420 - val_loss: 0.7741 - val_mae: 0.7044
Epoch 3/10
499/499 [==============================] - 3s 6ms/step - loss: 0.8139 - mae: 0.7126 - val_loss: 0.6927 - val_mae: 0.6605
Epoch 4/10
499/499 [==============================] - 3s 6ms/step - loss: 0.7606 - mae: 0.6881 - val_loss: 0.6346 - val_mae: 0.6288
Epoch 5/10
499/499 [==============================] - 3s 6ms/step - loss: 0.7094 - mae: 0.6627 - val_loss: 0.5864 - val_mae: 0.5995
Epoch 6/10
499/499 [==============================] - 3s 6ms/step - loss: 0.6654 - mae: 0.6405 - val_loss: 0.5367 - val_mae: 0.5744
Epoch 7/10
499/499 [==============================] - 3s 6ms/step - loss: 0.6254 - mae: 0.6212 - val_loss: 0.4975 - val_mae: 0.5516
Epoch 8/10
499/499 [==============================] - 3s 6ms/step - loss: 0.5895 - mae: 0.6029 - val_loss: 0.4684 - val_mae: 0.5366
Epoch 9/10
499/499 [==============================] - 3s 6ms/step - loss: 0.5505 - mae: 0.5809 - val_loss: 0.4090 - val_mae: 0.4968
Epoch 10/10
499/499 [==============================] - 3s 7ms/step - loss: 0.5176 - mae: 0.5628 - val_loss: 0.3800 - val_mae: 0.4785
192/192 [==============================] - 0s 2ms/step - loss: 0.3800 - mae: 0.4785
Test MAE: 0.47854891419410706

In [152]:
# Save the best model to a file
best_model.save('best_item_collab_filter_model.h5')
print("Model saved!")

Model saved!

In [153]:
# Load the saved model
item_model = load_model('best_item_collab_filter_model.h5')
print("Model loaded!")

Model loaded!

In [154]:
item_model.summary()

Model: "model_6"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 User_Input (InputLayer)        [(None, 1)]          0           []

 Item_Input (InputLayer)        [(None, 1)]          0           []

 User_Embedding (Embedding)     (None, 1, 128)       120832      ['User_Input[0][0]']

 Item_Embedding (Embedding)     (None, 1, 96)        161568      ['Item_Input[0][0]']

 flatten_12 (Flatten)           (None, 128)          0           ['User_Embedding[0][0]']

 flatten_13 (Flatten)           (None, 96)           0           ['Item_Embedding[0][0]']

 Genre_Input (InputLayer)       [(None, 19)]         0           []

 concatenate_6 (Concatenate)    (None, 243)          0           ['flatten_12[0][0]',
                                                                  'flatten_13[0][0]',
                                                                  'Genre_Input[0][0]']

 dense_19 (Dense)               (None, 192)          46848       ['concatenate_6[0][0]']

 dropout_6 (Dropout)            (None, 192)          0           ['dense_19[0][0]']

 dense_20 (Dense)               (None, 256)          49408       ['dropout_6[0][0]']

 dense_21 (Dense)               (None, 1)            257         ['dense_20[0][0]']

==================================================================================================
Total params: 378,913
Trainable params: 378,913
Non-trainable params: 0
__________________________________________________________________________________________________

Now time to test our new optimised model in a similar way to before:

In [155]:
# Predicting Recommendations for a User
user_id = 33  # Example: User ID for which to recommend
user_movies = np.array(range(num_items))  # All movies

In [156]:
# Combine the DataFrames vertically (stacking them on top of each other)
combined_df = pd.concat([train_df, test_df], ignore_index=True)

genre_df = combined_df.copy()

genre_df.drop(columns=['timestamp','Age','Gender','Occupation','zip code','Release Date','URL','Movie Title','User ID','Item ID','Rating'],inplace=True)

In [157]:
# Genres for all movies
movie_genres_input = genre_df[:user_movies.shape[0]]

In [158]:
# Ensure all inputs are properly shaped and converted to the correct dtype
user_input_predict = np.full((user_movies.shape[0], 1), user_id, dtype=np.int32)  # Shape: (num_items, 1)
item_input_predict = user_movies.reshape(-1, 1).astype(np.int32)  # Shape: (num_items, 1)
movie_genres_input = movie_genres_input.astype(np.float32)  # Ensure genre input is float32

In [159]:
# Predict scores
predicted_scores = item_model.predict([np.full(user_movies.shape, user_id), user_movies, movie_genres_input])

53/53 [==============================] - 0s 2ms/step

In [160]:
# Recommend Top-5 Movies
recommended_movies = np.argsort(-predicted_scores.flatten())[:10]
print("Top 10 recommended movies for User ID", user_id, ":", recommended_movies)

Top 10 recommended movies for User ID 33 : [1466 1599  174 1467  166 1642  204  864 1620   12]

In [161]:
filtered_df = train_df[train_df['Item ID'].isin(recommended_movies)]

filtered_df.drop_duplicates(subset='Item ID', inplace=True)
filtered_df.drop(columns=['User ID','Rating','timestamp','Age','Gender','Occupation','zip code'],inplace=True)

filtered_df

C:\Users\kwhit\AppData\Local\Temp\ipykernel_39912\1878379110.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop_duplicates(subset='Item ID', inplace=True)
C:\Users\kwhit\AppData\Local\Temp\ipykernel_39912\1878379110.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.drop(columns=['User ID','Rating','timestamp','Age','Gender','Occupation','zip code'],inplace=True)

,Item ID,Movie Title,Release Date,URL,Unknown,Action,Adeventure,Animation,Childrens,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
5,166,Manon of the Spring (Manon des sources) (1986),01-Jan-1986,http://us.imdb.com/M/title-exact?Manon%20des%2...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,204,Back to the Future (1985),01-Jan-1985,http://us.imdb.com/M/title-exact?Back%20to%20t...,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
53,174,Raiders of the Lost Ark (1981),01-Jan-1981,http://us.imdb.com/M/title-exact?Raiders%20of%...,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,12,"Usual Suspects, The (1995)",14-Aug-1995,http://us.imdb.com/M/title-exact?Usual%20Suspe...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
670,864,My Fellow Americans (1996),20-Dec-1996,http://us.imdb.com/M/title-exact?My%20Fellow%2...,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7652,1466,Margarets Museum (1995)|01-Jan-1995||http://us...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7706,1467,"Saint of Fort Washington, The (1993)",01-Jan-1993,http://us.imdb.com/M/title-exact?Saint%20of%20...,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16044,1599,Someone Elses America (1995)|10-May-1996||http...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20083,1620,"Sixth Man, The (1997)",28-Mar-1997,http://us.imdb.com/M/title-exact?Sixth%20Man%2...,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23517,1642,Some Mothers Son (1996)|27-Dec-1996||http://us...,0,0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [162]:
# Function to get column names with positive entries for each row
def get_positive_columns(row):
    return [col for col in row.index if row[col] == 1]

# Apply the function to each row
positive_columns_per_row = filtered_df.apply(get_positive_columns, axis=1)

# Show the result
for idx, positive_cols in enumerate(positive_columns_per_row):
    print(f"Row {idx} has positive values in columns: {positive_cols}")

Row 0 has positive values in columns: ['Drama']
Row 1 has positive values in columns: ['Comedy', 'Sci-Fi']
Row 2 has positive values in columns: ['Action', 'Adeventure']
Row 3 has positive values in columns: ['Crime', 'Thriller']
Row 4 has positive values in columns: ['Comedy']
Row 5 has positive values in columns: ['Comedy']
Row 6 has positive values in columns: ['Drama']
Row 7 has positive values in columns: ['Comedy']
Row 8 has positive values in columns: ['Comedy']
Row 9 has positive values in columns: ['Comedy']

In [163]:
true_ratings = test_df.loc[test_df['User ID'] == user_id].sort_values(by=['Rating'], ascending=False).head(5)

true_ratings.drop(columns=['User ID','URL','Rating','timestamp','Age','Gender','Occupation','zip code','Release Date'], inplace = True)

true_ratings

,Item ID,Movie Title,Unknown,Action,Adeventure,Animation,Childrens,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
255,872,Love Jones (1997),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [164]:
# Apply the function to each row
positive_columns_per_row = true_ratings.apply(get_positive_columns, axis=1)

# Show the result
for idx, positive_cols in enumerate(positive_columns_per_row):
    print(f"Row {idx} has positive values in columns: {positive_cols}")

Row 0 has positive values in columns: ['Romance']

# Now to look at user-Based recommender

We start by preparing the input data as before

In [165]:
num_users = 943
num_items = 1682
num_occupations = 21  # Number of unique occupations
num_genders = 2        # Gender (Male or Female)

In [166]:
# Encoding UserID, ItemID, Gender, Occupation
user_encoder = LabelEncoder()
item_encoder = LabelEncoder()
gender_encoder = LabelEncoder()
occupation_encoder = LabelEncoder()

train_df['User ID'] = user_encoder.fit_transform(train_df['User ID'])
train_df['Item ID'] = item_encoder.fit_transform(train_df['Item ID'])
train_df['Gender'] = gender_encoder.fit_transform(train_df['Gender'])
train_df['Occupation'] = occupation_encoder.fit_transform(train_df['Occupation'])

test_df['User ID'] = user_encoder.fit_transform(test_df['User ID'])
test_df['Item ID'] = item_encoder.fit_transform(test_df['Item ID'])
test_df['Gender'] = gender_encoder.fit_transform(test_df['Gender'])
test_df['Occupation'] = occupation_encoder.fit_transform(test_df['Occupation'])

In [167]:
# Normalize the exact age feature
scaler = MinMaxScaler()
train_df['Age'] = scaler.fit_transform(train_df[['Age']])  # Normalize age between 0 and 1
# Normalize the exact age feature
scaler = MinMaxScaler()
test_df['Age'] = scaler.fit_transform(test_df[['Age']])  # Normalize age between 0 and 1


#Now normalize ratings for each user
train_df['Rating'] = scaler.fit_transform(train_df[['Rating']])  
test_df['Rating'] = scaler.fit_transform(test_df[['Rating']])

In [168]:
# Prepare Input Features
train_user_input = train_df[['User ID', 'Age', 'Gender', 'Occupation']].values
train_item_input = train_df['Item ID'].values
train_ratings = train_df['Rating'].values

test_user_input = test_df[['User ID', 'Age', 'Gender', 'Occupation']].values
test_item_input = test_df['Item ID'].values
test_ratings = test_df['Rating'].values

Now to build the model:

In [169]:
# Model Architecture
# Inputs
user_input = Input(shape=(4,), name='User_Input')  # 4 features: UserID, Age, Gender, Occupation
item_input = Input(shape=(1,), name='Item_Input')

In [170]:
# Embedding layers for user and item
user_embedding = Embedding(num_users, 50, name='User_Embedding')(user_input[:, 0])  # UserID
age_input = user_input[:, 1:]  # Age, Gender, Occupation (no embedding for continuous age)
age_vec = Dense(10, activation='relu')(age_input)  # Dense layer to process age, gender, occupation inputs
item_embedding = Embedding(num_items, 50, name='Item_Embedding')(item_input)

In [171]:
# Flatten embeddings
user_vec = Flatten()(user_embedding)
item_vec = Flatten()(item_embedding)

In [172]:
# Concatenate all embeddings (user, item, age, gender, occupation)
concat = Concatenate()([user_vec, age_vec, item_vec])

In [173]:
# Dense layers
dense1 = Dense(128, activation='relu')(concat)
dropout1 = Dropout(0.3)(dense1)
dense2 = Dense(64, activation='relu')(dropout1)
output = Dense(1, activation='linear')(dense2)  # Rating is a continuous value, so use linear activation

In [174]:
# Model definition
user_model = Model(inputs=[user_input, item_input], outputs=output)
user_model.compile(optimizer='adam', loss='mse', metrics=['mae'])

In [175]:
user_model.summary()

Model: "model_7"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 User_Input (InputLayer)        [(None, 4)]          0           []

 tf.__operators__.getitem_2 (Sl  (None,)             0           ['User_Input[0][0]']
 icingOpLambda)

 Item_Input (InputLayer)        [(None, 1)]          0           []

 User_Embedding (Embedding)     (None, 50)           47150       ['tf.__operators__.getitem_2[0][0
                                                                 ]']

 tf.__operators__.getitem_3 (Sl  (None, 3)           0           ['User_Input[0][0]']
 icingOpLambda)

 Item_Embedding (Embedding)     (None, 1, 50)        84100       ['Item_Input[0][0]']

 flatten_14 (Flatten)           (None, 50)           0           ['User_Embedding[0][0]']

 dense_22 (Dense)               (None, 10)           40          ['tf.__operators__.getitem_3[0][0
                                                                 ]']

 flatten_15 (Flatten)           (None, 50)           0           ['Item_Embedding[0][0]']

 concatenate_7 (Concatenate)    (None, 110)          0           ['flatten_14[0][0]',
                                                                  'dense_22[0][0]',
                                                                  'flatten_15[0][0]']

 dense_23 (Dense)               (None, 128)          14208       ['concatenate_7[0][0]']

 dropout_7 (Dropout)            (None, 128)          0           ['dense_23[0][0]']

 dense_24 (Dense)               (None, 64)           8256        ['dropout_7[0][0]']

 dense_25 (Dense)               (None, 1)            65          ['dense_24[0][0]']

==================================================================================================
Total params: 153,819
Trainable params: 153,819
Non-trainable params: 0
__________________________________________________________________________________________________

Now train the model

In [176]:
# Training the model
history = user_model.fit(
    [train_user_input, train_item_input],
    train_ratings,
    validation_data=([test_user_input, test_item_input], test_ratings),
    epochs=10,
    batch_size=64
)

Epoch 1/10
499/499 [==============================] - 3s 5ms/step - loss: 0.0884 - mae: 0.2297 - val_loss: 0.0955 - val_mae: 0.2447
Epoch 2/10
499/499 [==============================] - 2s 4ms/step - loss: 0.0585 - mae: 0.1920 - val_loss: 0.0964 - val_mae: 0.2459
Epoch 3/10
499/499 [==============================] - 2s 4ms/step - loss: 0.0554 - mae: 0.1864 - val_loss: 0.0926 - val_mae: 0.2442
Epoch 4/10
499/499 [==============================] - 2s 4ms/step - loss: 0.0532 - mae: 0.1820 - val_loss: 0.0948 - val_mae: 0.2467
Epoch 5/10
499/499 [==============================] - 2s 5ms/step - loss: 0.0519 - mae: 0.1798 - val_loss: 0.0946 - val_mae: 0.2451
Epoch 6/10
499/499 [==============================] - 2s 4ms/step - loss: 0.0507 - mae: 0.1773 - val_loss: 0.0941 - val_mae: 0.2458
Epoch 7/10
499/499 [==============================] - 2s 4ms/step - loss: 0.0498 - mae: 0.1755 - val_loss: 0.1005 - val_mae: 0.2516
Epoch 8/10
499/499 [==============================] - 2s 4ms/step - loss: 0.0488 - mae: 0.1734 - val_loss: 0.0978 - val_mae: 0.2494
Epoch 9/10
499/499 [==============================] - 2s 4ms/step - loss: 0.0473 - mae: 0.1701 - val_loss: 0.1027 - val_mae: 0.2528
Epoch 10/10
499/499 [==============================] - 2s 4ms/step - loss: 0.0462 - mae: 0.1680 - val_loss: 0.0994 - val_mae: 0.2503

Test on random users to see how it performs

In [177]:
# Predicting Recommendations for a User
user_id = 3 # Example: User ID for which to recommend
user_age = train_df.loc[train_df['User ID'] == user_id, 'Age'].values[0]
user_gender = train_df.loc[train_df['User ID'] == user_id, 'Gender'].values[0]
user_occupation = train_df.loc[train_df['User ID'] == user_id, 'Occupation'].values[0]

user_data = np.array([[user_id, user_age, user_gender, user_occupation]])  # Example: Age=0.5 (normalized), Gender=0, Occupation=0 for simplicity (you would use actual data)
user_movies = np.array(range(num_items))  # All movies

In [178]:
# Predict scores
predicted_scores = user_model.predict([np.tile(user_data, (num_items, 1)), user_movies])

53/53 [==============================] - 0s 2ms/step

In [179]:
#recommend Top-5 Movies
recommended_movies = np.argsort(-predicted_scores.flatten())[:10]
print("Top 10 recommended movies for User ID", user_id, ":", recommended_movies)

Top 10 recommended movies for User ID 3 : [523 464 560 363 431 566 577 569 574 563]

In [180]:
filtered_user_df = train_df[train_df['Item ID'].isin(recommended_movies)]
                            
filtered_user_df.drop_duplicates(subset='Item ID', inplace=True)
filtered_user_df.drop(columns=['Gender','Rating','Age','Occupation','zip code','User ID','URL'],inplace=True)

filtered_user_df

C:\Users\kwhit\AppData\Local\Temp\ipykernel_39912\4197107689.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_user_df.drop_duplicates(subset='Item ID', inplace=True)
C:\Users\kwhit\AppData\Local\Temp\ipykernel_39912\4197107689.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_user_df.drop(columns=['Gender','Rating','Age','Occupation','zip code','User ID','URL'],inplace=True)

,Item ID,timestamp,Movie Title,Release Date,Unknown,Action,Adeventure,Animation,Childrens,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
5538,363,878962200,Mina Tannenbaum (1994),01-Jan-1994,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7706,431,880605553,"Saint of Fort Washington, The (1993)",01-Jan-1993,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9123,464,875306613,Santa with Muscles (1996),08-Nov-1996,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16044,523,880142614,Someone Elses America (1995)|10-May-1996||http...,0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23417,560,887473570,Brothers in Trouble (1995),26-Apr-1996,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23477,563,887650483,Bitter Sugar (Azucar Amargo) (1996),22-Nov-1996,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23517,566,888474934,Some Mothers Son (1996)|27-Dec-1996||http://us...,0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23568,569,892871225,"Butcher Boy, The (1998)",01-Jan-1998,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23569,574,892871225,"Butcher Boy, The (1998)",01-Jan-1998,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24192,577,889489913,Entertaining Angels: The Dorothy Day Story (1996),27-Sep-1996,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [181]:
# Function to get column names with positive entries for each row
def get_positive_columns(row):
    return [col for col in row.index if row[col] == 1]


# Apply the function to each row
positive_columns_per_row_user = filtered_user_df.apply(get_positive_columns, axis=1)

# Show the result
for idx, positive_cols in enumerate(positive_columns_per_row_user):
    print(f"Row {idx} has positive values in columns: {positive_cols}")

Row 0 has positive values in columns: ['Drama']
Row 1 has positive values in columns: ['Drama']
Row 2 has positive values in columns: ['Comedy']
Row 3 has positive values in columns: ['Comedy']
Row 4 has positive values in columns: ['Drama']
Row 5 has positive values in columns: ['Drama']
Row 6 has positive values in columns: ['Comedy']
Row 7 has positive values in columns: ['Drama']
Row 8 has positive values in columns: ['Drama']
Row 9 has positive values in columns: ['Drama']

In [182]:
true_user_ratings = test_df.loc[test_df['User ID'] == user_id].sort_values(by=['Rating'], ascending=False).head(5)

true_user_ratings.drop(columns=['User ID','URL','Rating','timestamp','Age','Gender','Occupation','zip code','Release Date'], inplace = True)

true_user_ratings

,Item ID,Movie Title,Unknown,Action,Adeventure,Animation,Childrens,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
28,10,Seven (Se7en) (1995),0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [183]:
# Apply the function to each row
positive_columns_per_row = true_user_ratings.apply(get_positive_columns, axis=1)

# Show the result
for idx, positive_cols in enumerate(positive_columns_per_row):
    print(f"Row {idx} has positive values in columns: {positive_cols}")

Row 0 has positive values in columns: ['Crime', 'Thriller']

## Tune hyper-parameters
Now to tune the hyper-paramters for this model.

In [194]:
# HyperModel for the neural network
class CollaborativeFilterHyperModel(kt.HyperModel):
    def build(self, hp):
        # Input dimensions
        num_users = 943
        num_items = 1682

        # Model inputs
        user_input = Input(shape=(1,), name='User_Input')
        item_input = Input(shape=(1,), name='Item_Input')
        age_input = Input(shape=(1,), name='Age_Input')
        occupation_input = Input(shape=(1,), name='Occupation_Input')  # Numerical occupation input
        gender_input = Input(shape=(1,), name='Gender_Input')  # Numerical gender input

        # Hyperparameters for embeddings and dense layers
        user_embedding_dim = hp.Int('user_embedding_dim', min_value=32, max_value=128, step=32)
        item_embedding_dim = hp.Int('item_embedding_dim', min_value=32, max_value=128, step=32)

        # Embedding layers for user and item
        user_embedding = Embedding(num_users + 1, user_embedding_dim, name='User_Embedding')(user_input)
        item_embedding = Embedding(num_items + 1, item_embedding_dim, name='Item_Embedding')(item_input)

        # Flatten the embeddings
        user_vec = Flatten()(user_embedding)
        item_vec = Flatten()(item_embedding)

        # Concatenate embeddings with additional scalar features
        concat = Concatenate()([user_vec, item_vec, age_input, occupation_input, gender_input])

        # Dense layers with hyperparameter search
        dense1_units = hp.Int('dense1_units', min_value=64, max_value=512, step=64)
        dense2_units = hp.Int('dense2_units', min_value=32, max_value=256, step=32)

        dense1 = Dense(dense1_units, activation='relu')(concat)
        dropout1 = Dropout(hp.Float('dropout1', min_value=0.2, max_value=0.5, step=0.1))(dense1)
        dense2 = Dense(dense2_units, activation='relu')(dropout1)

        # Output layer
        output = Dense(1, activation='linear')(dense2)  # Rating is continuous, use linear activation

        # Model definition
        model = Model(inputs=[user_input, item_input, age_input, occupation_input, gender_input], outputs=output)

        # Compile the model with an optimizer and loss function
        model.compile(optimizer=Adam(), loss='mse', metrics=['mae'])

        return model

# Preparing the training and testing data (just like before)
train_user_input = train_df['User ID'].values
train_item_input = train_df['Item ID'].values
train_age_input = train_df['Age'].values.reshape(-1, 1)
train_occupation_input = train_df['Occupation'].values.reshape(-1, 1)  # Numerical occupation
train_gender_input = train_df['Gender'].values.reshape(-1, 1)  # Numerical gender
train_ratings = train_df['Rating'].values

test_user_input = test_df['User ID'].values
test_item_input = test_df['Item ID'].values
test_age_input = test_df['Age'].values.reshape(-1, 1)
test_occupation_input = test_df['Occupation'].values.reshape(-1, 1)  # Numerical occupation
test_gender_input = test_df['Gender'].values.reshape(-1, 1)  # Numerical gender
test_ratings = test_df['Rating'].values

# Instantiate the tuner
tuner = kt.RandomSearch(
    CollaborativeFilterHyperModel(),
    objective='val_mae',  # We are optimizing for Mean Absolute Error
    max_trials=5,  # Number of different hyperparameter combinations to try
    executions_per_trial=3,  # Number of executions for each trial
    project_name='collab_filter_search'  # Project name for Keras Tuner
)

# Search for the best hyperparameters
tuner.search(
    [train_user_input, train_item_input, train_age_input, train_occupation_input, train_gender_input],
    train_ratings,
    validation_data=(
        [test_user_input, test_item_input, test_age_input, test_occupation_input, test_gender_input],
        test_ratings
    ),
    epochs=10,
    batch_size=64
)

# Retrieve the best hyperparameters
best_hp = tuner.get_best_hyperparameters()[0]
print("Best hyperparameters:", best_hp.values)

# Build the model with the best hyperparameters
best_user_model = tuner.hypermodel.build(best_hp)

# Train the model using the best hyperparameters
history = best_user_model.fit(
    [train_user_input, train_item_input, train_age_input, train_occupation_input, train_gender_input],
    train_ratings,
    validation_data=(
        [test_user_input, test_item_input, test_age_input, test_occupation_input, test_gender_input],
        test_ratings
    ),
    epochs=10,
    batch_size=64
)

# Evaluate the best model
test_loss, test_mae = best_user_model.evaluate(
    [test_user_input, test_item_input, test_age_input, test_occupation_input, test_gender_input],
    test_ratings
)
print(f"Test MAE: {test_mae}")

Reloading Tuner from .\collab_filter_search\tuner0.json
Best hyperparameters: {'user_embedding_dim': 128, 'item_embedding_dim': 96, 'dense1_units': 192, 'dense2_units': 256, 'dropout1': 0.2}
Epoch 1/10
499/499 [==============================] - 6s 9ms/step - loss: 0.0795 - mae: 0.2216 - val_loss: 0.0881 - val_mae: 0.2405
Epoch 2/10
499/499 [==============================] - 4s 9ms/step - loss: 0.0581 - mae: 0.1909 - val_loss: 0.0876 - val_mae: 0.2374
Epoch 3/10
499/499 [==============================] - 4s 9ms/step - loss: 0.0544 - mae: 0.1842 - val_loss: 0.0920 - val_mae: 0.2424
Epoch 4/10
499/499 [==============================] - 4s 8ms/step - loss: 0.0521 - mae: 0.1801 - val_loss: 0.0974 - val_mae: 0.2489
Epoch 5/10
499/499 [==============================] - 4s 9ms/step - loss: 0.0501 - mae: 0.1765 - val_loss: 0.0943 - val_mae: 0.2471
Epoch 6/10
499/499 [==============================] - 4s 9ms/step - loss: 0.0487 - mae: 0.1735 - val_loss: 0.0991 - val_mae: 0.2492
Epoch 7/10
499/499 [==============================] - 4s 9ms/step - loss: 0.0469 - mae: 0.1698 - val_loss: 0.1007 - val_mae: 0.2517
Epoch 8/10
499/499 [==============================] - 5s 10ms/step - loss: 0.0450 - mae: 0.1660 - val_loss: 0.0998 - val_mae: 0.2521
Epoch 9/10
499/499 [==============================] - 5s 10ms/step - loss: 0.0428 - mae: 0.1615 - val_loss: 0.1042 - val_mae: 0.2552
Epoch 10/10
499/499 [==============================] - 5s 10ms/step - loss: 0.0407 - mae: 0.1575 - val_loss: 0.1005 - val_mae: 0.2509
192/192 [==============================] - 1s 3ms/step - loss: 0.1005 - mae: 0.2509
Test MAE: 0.250934898853302

In [195]:
# Save the best model to a file
best_user_model.save('best_user_collab_filter_model.h5')
print("Model saved!")

Model saved!

In [196]:
# Load the saved model
best_user_model = load_model('best_user_collab_filter_model.h5')
print("Model loaded!")

Model loaded!

In [197]:
best_user_model.summary()

Model: "model_9"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 User_Input (InputLayer)        [(None, 1)]          0           []

 Item_Input (InputLayer)        [(None, 1)]          0           []

 User_Embedding (Embedding)     (None, 1, 128)       120832      ['User_Input[0][0]']

 Item_Embedding (Embedding)     (None, 1, 96)        161568      ['Item_Input[0][0]']

 flatten_18 (Flatten)           (None, 128)          0           ['User_Embedding[0][0]']

 flatten_19 (Flatten)           (None, 96)           0           ['Item_Embedding[0][0]']

 Age_Input (InputLayer)         [(None, 1)]          0           []

 Occupation_Input (InputLayer)  [(None, 1)]          0           []

 Gender_Input (InputLayer)      [(None, 1)]          0           []

 concatenate_9 (Concatenate)    (None, 227)          0           ['flatten_18[0][0]',
                                                                  'flatten_19[0][0]',
                                                                  'Age_Input[0][0]',
                                                                  'Occupation_Input[0][0]',
                                                                  'Gender_Input[0][0]']

 dense_29 (Dense)               (None, 192)          43776       ['concatenate_9[0][0]']

 dropout_9 (Dropout)            (None, 192)          0           ['dense_29[0][0]']

 dense_30 (Dense)               (None, 256)          49408       ['dropout_9[0][0]']

 dense_31 (Dense)               (None, 1)            257         ['dense_30[0][0]']

==================================================================================================
Total params: 375,841
Trainable params: 375,841
Non-trainable params: 0
__________________________________________________________________________________________________

We now again look at the models performance

In [188]:
# Predicting Recommendations for a Specific User
user_id = 374  # Example: User ID for which to recommend

# Fetch user-specific data
user_age = train_df.loc[train_df['User ID'] == user_id, 'Age'].values[0]
user_gender = train_df.loc[train_df['User ID'] == user_id, 'Gender'].values[0]
user_occupation = train_df.loc[train_df['User ID'] == user_id, 'Occupation'].values[0]

# Prepare inputs for all movies for this user
user_input = np.full((num_items,), user_id)  # Same user_id for all movies
item_input = np.arange(1, num_items + 1)  # Movie IDs from 1 to num_items
age_input = np.full((num_items,), user_age)  # Same age for all movies
gender_input = np.full((num_items,), user_gender)  # Same gender for all movies
occupation_input = np.full((num_items,), user_occupation)  # Same occupation for all movies

# Make predictions
predicted_ratings = best_user_model.predict([user_input, item_input, age_input, occupation_input, gender_input])

# Combine results into a DataFrame for easy interpretation
recommendations = pd.DataFrame({
    'Movie ID': item_input,
    'Predicted Rating': predicted_ratings.flatten()
})

# Sort movies by predicted rating in descending order
recommended_movies = recommendations.sort_values(by='Predicted Rating', ascending=False)[:10]

53/53 [==============================] - 0s 2ms/step

In [189]:
# Recommend Top-5 Movies
recommended_movies = np.argsort(-predicted_scores.flatten())[:10]
print("Top 10 recommended movies for User ID", user_id, ":", recommended_movies)

Top 10 recommended movies for User ID 374 : [523 464 560 363 431 566 577 569 574 563]

In [190]:
filtered_user_df = train_df[train_df['Item ID'].isin(recommended_movies)]
                            
filtered_user_df.drop_duplicates(subset='Item ID', inplace=True)
filtered_user_df.drop(columns=['Gender','Rating','Age','Occupation','zip code','User ID','URL','timestamp'],inplace=True)

filtered_user_df

C:\Users\kwhit\AppData\Local\Temp\ipykernel_39912\219490849.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_user_df.drop_duplicates(subset='Item ID', inplace=True)
C:\Users\kwhit\AppData\Local\Temp\ipykernel_39912\219490849.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_user_df.drop(columns=['Gender','Rating','Age','Occupation','zip code','User ID','URL','timestamp'],inplace=True)

,Item ID,Movie Title,Release Date,Unknown,Action,Adeventure,Animation,Childrens,Comedy,Crime,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
5538,363,Mina Tannenbaum (1994),01-Jan-1994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7706,431,"Saint of Fort Washington, The (1993)",01-Jan-1993,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9123,464,Santa with Muscles (1996),08-Nov-1996,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16044,523,Someone Elses America (1995)|10-May-1996||http...,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23417,560,Brothers in Trouble (1995),26-Apr-1996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23477,563,Bitter Sugar (Azucar Amargo) (1996),22-Nov-1996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23517,566,Some Mothers Son (1996)|27-Dec-1996||http://us...,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23568,569,"Butcher Boy, The (1998)",01-Jan-1998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23569,574,"Butcher Boy, The (1998)",01-Jan-1998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24192,577,Entertaining Angels: The Dorothy Day Story (1996),27-Sep-1996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [191]:
# Function to get column names with positive entries for each row
def get_positive_columns(row):
    return [col for col in row.index if row[col] == 1]


# Apply the function to each row
positive_columns_per_row_user = filtered_user_df.apply(get_positive_columns, axis=1)

# Show the result
for idx, positive_cols in enumerate(positive_columns_per_row_user):
    print(f"Row {idx} has positive values in columns: {positive_cols}")

Row 0 has positive values in columns: ['Drama']
Row 1 has positive values in columns: ['Drama']
Row 2 has positive values in columns: ['Comedy']
Row 3 has positive values in columns: ['Comedy']
Row 4 has positive values in columns: ['Drama']
Row 5 has positive values in columns: ['Drama']
Row 6 has positive values in columns: ['Comedy']
Row 7 has positive values in columns: ['Drama']
Row 8 has positive values in columns: ['Drama']
Row 9 has positive values in columns: ['Drama']

In [192]:
true_user_ratings = test_df.loc[test_df['User ID'] == user_id].sort_values(by=['Rating'], ascending=False).head(5)

true_user_ratings.drop(columns=['User ID','URL','Rating','timestamp','Age','Gender','Occupation','zip code','Release Date'], inplace = True)

true_user_ratings

,Item ID,Movie Title,Unknown,Action,Adeventure,Animation,Childrens,Comedy,Crime,Documentary,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
2610,0,Toy Story (1995),0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2613,281,"Adventures of Pinocchio, The (1996)",0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2615,225,"Kiss Me, Guido (1997)",0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2611,352,Picture Bride (1995),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2612,88,101 Dalmatians (1996),0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [193]:
# Apply the function to each row
positive_columns_per_row = true_user_ratings.apply(get_positive_columns, axis=1)

# Show the result
for idx, positive_cols in enumerate(positive_columns_per_row):
    print(f"Row {idx} has positive values in columns: {positive_cols}")

Row 0 has positive values in columns: ['Animation', 'Childrens', 'Comedy']
Row 1 has positive values in columns: ['Adeventure', 'Childrens']
Row 2 has positive values in columns: ['Comedy']
Row 3 has positive values in columns: ['Drama', 'Romance']
Row 4 has positive values in columns: ['Childrens', 'Comedy']

This user-based model doesn't change its recommendations based on the user_id we test. This could need some further investigations. However the item-based recommender seems to work quite well. So we will take this model forward to compare with the other models built by the rest of the group.